h1 {
    color:aquamarine;
}

/* Selector de ID */
#titulo-principal {
    color: chartreuse;
}

/* Selector de clase */
.salmon {
    color:salmon;
}

/* Seleccion combinada */
p.salmon{
    text-align: center;
}

.fondo-bisque{
    background-color: bisque;
}

/* Combinar un estilo para varias etiquetas */
h1,h3{
    text-align: end;
}

/* Selector universal (no utilizar) */
* {
    font-family: 'Trebuchet MS';
}


/* Los estilos que pueden tomar los TEXT-DECORATION-LINE son:
solid, double, dotted, dashed, wavy */
.overline{
    text-decoration: overline red 10px;
    /* 
    CON LA LINEA DE ARRIBA SE RESUMEN ESTAS TRES:
    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-thickness: 10px; */
}

.line-through{
    text-decoration-line: line-through;
    text-decoration-style: wavy;
}

.underline{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.mix{
    text-decoration-line: overline underline;
}

/* FORMATO DE TEXTO UPPER, LOWER y CAPITALIZE */

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.capitalize{
    text-transform: capitalize;
}

.espaciado-texto{
    text-indent:50px; /* Genera una sangria al comienzo del parrafo*/
    letter-spacing: 1px; /* Espaciado de letras */
    line-height: 1.5; /* Altura de la linea - Formato factor, 1 es 100% */
    word-spacing: 2px; /* Espaciado entre palabras */
    
    /*white-space: nowrap;  Con esta propiedad ignora el div o el contenedor al que pertenece y se va de la pantalla */
}

.textShadow{
    /* Indica 2px a la derecha, 2px para abajo, 2px de difuminar y el color de la sombra
    si son en negativo, van para la izquierda y para arriba */
    text-shadow: 2px 2px 2px grey;
}

.fuentes{
    /* La primer fuente es la que seleccionamos, si el navegador no la encuentra
    sigue con la otra y asi sucesivamente */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700; /* Indicamos el grosor - BOLD */
    font-style: italic; /* Normal - Italica - Oblicua */
    font-variant: small-caps; /* Primer letra grande y el resto chiquitas */
}

.fuentes-resumida{
    /* Resumo las propiedades anteriores en una sola linea */
    font: italic small-caps 20px Trebuchet MS;
}

.fuenteDeGoogle{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.desordenada {
    list-style-type: square;
}

.ordenada{
    list-style-type:upper-roman;
}

.lista-imagen{
    list-style-image: url(assets/img/gato.png); /* Utilizo un icono de viñeta */
    list-style-position: inside; /* El icono se mete dentro del texto y no quedan alineados */
}

table, th, td{
    border: 1px, solid black;
}

th, td {
    text-align: center;
    padding: 15px;
}

tr:nth-child(even){
    background-color: rgb(234, 234, 234);
}

tr:hover{
    background-color: aquamarine;
}

th{
    background-color: aqua;
    height: 30px;
}

table{
    /* Para que el borde no se vea doble */
    border-collapse: collapse;
    width: 80%;
    margin: 10px;
}


.colores{
    color: black;
    /* El ultimo valor es el canal alpha que va de 0 a 1 */
    /* Tambien se puede controlar el canal alpha con la propiedad OPACITY */
    background-color: rgba(36, 167, 237, 0.5); 
}

/* FONDOS */

/* body{
    background-image: url(assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

    TAMBIEN PUEDE ESCRIBIRSE EN UNA SOLA LINEA
    background: #e58383 url(assets/img/fondo.jpg) no-repeat right top;
} */

body{
    background: url(assets/img/fondo.jpeg);
    background-size: cover;
}

.solid{
    width: 200px;
    height: 50px;
    border-style: solid;
    border-width: 10px;
}
.dotted{
    width: 200px;
    height: 50px;
    border-style: dotted;
    border-radius: 50px;
}
.dashed{
    width: 200px;
    height: 50px;
    border: 5px dashed red;
}
.double{
    width: 200px;
    height: 50px;
    border-style: double;
}
.groove{
    width: 200px;
    height: 50px;
    border-style: groove;
}
.ridge{
    width: 200px;
    height: 50px;
    border-style: ridge;
}
.inset{
    width: 200px;
    height: 50px;
    border-style: inset;
}
.outset{
    width: 200px;
    height: 50px;
    border-style: outset;
}
.none{
    width: 200px;
    height: 50px;
    border-style: none;
}
.hidden{
    width: 200px;
    height: 50px;
    border-style: hidden;
}
.mix{
    width: 200px;
    height: 50px;
    border-style: solid dashed dotted;
}

.titulo-caja{
    text-align: center;
}

.cajita{
    background-color: red;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    margin: 100px; /* 100px ARRIBA, ABAJO, IZQUIERDA Y DERECHA */
}

.cajita2{
    background-color: blue;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    margin: 100px 50px; /* 100px ARRIBA Y ABAJO - 50px DERECHA Y IZQUIERDA */
}

.cajita3{
    background-color: green;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    margin: 100px 100px 50px; /* 100px ARRIBA - 100px ABAJO y 50px DERECHA e IZQUIERDA */
}

.cajita4{
    background-color: yellow;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    margin: 100px 50px 80px 40px; /* SENTIDO HORARIO - 100px ARRIBA, 50px DERECHA, 80px ABAJO y 40px IZQUIERDA */
}

.outline{
    width: 200px;
    height: 50px;
    margin: 20px;
    border-style: solid;
    border-width: 10px;
    /* OUTLINE es una linea que va desde el borde para afuera */
    outline: 5px solid red;
    /* Distancia del outline al borde */
    outline-offset: 5px;
}

.max-width{
    background-color: beige;
    border: 2px solid black;
    margin: auto;
    max-width: 500px;
}

.width{
    background-color: beige;
    border: 2px solid black;
    margin: auto;
    width: 500px;
}

.container-overflow{
    width: 300px;
    height: 200px;
    border:2px solid black;
    overflow:scroll;
}

.gatito-float{
    width: 100px;
    float: right;
}

.listita-nav{
    background-color: papayawhip;
}

.item-listita{
    display: inline-block;
}

.centrar-div{
    border: 2px solid black;
    border-radius: 10px;
    /* Teniendo MARGIN AUTOMATICO se centra */
    margin: auto;
    padding: 10px;
    width: 200px;
}

.texto-centrar-div{
    text-align: center;
}

.img-centrar-div{
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    height: 100px;
}

/* Link - Cuando todavia no lo visitamos */
.link-pseudoclase:link{
    color: chocolate;
}

/* Visited - Cuando ya le hicimos click */
.link-pseudoclase:visited{
    color:blueviolet;
}

/* Hover - Cuando pasamos el mouse por encima */
.link-pseudoclase:hover{
    background-color: aqua;
}

/* Active - Cuando le estamos haciendo click */
.link-pseudoclase:active{
    color:blue
}

/* Cuando le hago foco a un elemento tipo input */
.input-pseudoclase:focus{
    background-color: aqua;
}

/* Cambio de color solo la primer linea del p, es RESPONSIVO */
.parrafo-pseudoelemento::first-line{
    color: blue;
}

/* Cambio el color y el tamaño de la primera letra del parrafo */
.parrafo-pseudoelemento::first-letter{
    color: red;
    font-size: 50px;
}

/* Agrego una imagen ANTES del parrafo */
.parrafo-pseudoelemento::before{
    content: url(assets/img/gato.png);
}

/* Agrego una imagen DESPUES del parrafo */
.parrafo-pseudoelemento::after{
    content: url(assets/img/gato.png);
}

/* Modificamos los marcadores de una lista */
.lista-para-marker li::marker{
    color: red;
    font-size: larger;
}

/* Modificamos la seleccion de los elementos que queremos */
.lista-para-marker li::selection{
    background-color: aquamarine;
}

/* Cambio opacidad de imagen (de 0 a 1) */
.imagen-transparencia{
    width: 500px;
    opacity: 0.5;
}

.imagen-transparencia:hover{
    opacity: 1;
}

/* Selecciono todos los que tengan el atributo "target" */
.link-atributos[target]{
    background-color: aqua;
}

/* Selecciono todos los que tengan el atributo target="_top" */
.link-atributos[target="_top"]{
    background-color: blueviolet;
}

/* Selecciono las clases que contienen la palabra "lorem" (debe ser la palabra entera) */
[class~="lorem"]{
    background-color: chartreuse;
}

/* Selecciono las clases que contienen la palabra "tinto" (puede ser una parte de la palabra) */
[class*="tinto"]{
    background-color: chocolate;
}

.juego-dardos{
    display: flex;
    height: 500px;
    background-color: beige;
}

/* De esta forma tenemos un contenedor que funciona como cuadricula */
.grid-container{
    display: grid; 
    grid-template-columns: auto auto auto;
    background-color: rgb(63, 196, 196);
    border: 2px groove black;
    padding: 10px;
    gap: 5px;
}

.grid-item{
    background-color: beige;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item1{
    grid-column-start: 1; /*Tambien se puede usar grid-column: 1/3 */
    grid-column-end: 3;
}

.item1{
    grid-row-start: 1;
    grid-row-end: 3;
}

.item7{
    grid-area: 2 / 1 / 2 / 3; /* la primera y la tercera son las filas y la segunda y la cuarta son las columnas */
}

.grid-container-areas{
    display: grid; 
    grid-template-areas: 
    "header header header"
    "navbar navbar navbar"
    "noticias . publicidades"
    "noticias . publicidades"
    "noticias . publicidades"
    "footer footer footer";

    background-color: rgb(63, 196, 196);
    border: 2px groove black;
    padding: 10px;
    gap: 5px;
}

.area1{
    grid-area: header;
}

.area2{
    grid-area: navbar;
}

.area3{
    grid-area: noticias;
}

.area4{
    grid-area: publicidades;
}

.area5{
    grid-area: footer;
}


/* Media queries para disenio responsivo: Al bajar de 992, se distribuyen distintos los elementos */
@media screen and (max-width: 992px){
    .grid-container-areas{
        grid-template-areas: 
        "header header header"
        "navbar navbar navbar"
        "noticias noticias publicidades"
        "noticias noticias publicidades"
        "noticias noticias publicidades"
        "footer footer footer";
    }
}

@media screen and (max-width: 600px){
    .grid-container-areas{
        grid-template-areas: 
        "header"
        "navbar"
        "noticias "
        "publicidades"
        "publicidades"
        "footer";
        gap: 2px;
    }
}
 

/* TRANSICIONES */
.transicion{
    background-color: red;
    height: 100px;
    width: 100px;
    transition: width 2s, height 5s, transform 2s;
    transition-timing-function: ease-in; /* Pueden ser linear - ease - ease in - ease out - ease in out */

}

.transicion:hover{
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

.btn-transicion{
    background-color: aqua;
    transition: background-color 1s;
}

.btn-transicion:hover{
    background-color: blueviolet;
}


/* ANIMACIONES */

.animacion{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: prueba2;
    animation-duration: 3s;
    animation-delay: 2s; /* delay para arrancar */
    animation-iteration-count: 3; /* veces que hace el bucle - se puede poner INFINITE para que sea infinito */
    animation-direction: alternate; /* va y vuelve, en un direccion y al contrario */
    /* shorthand: animation: prueba 5s ease 2s infinite alternate */
}

@keyframes prueba{
    from{
        background-color: red;
    }
    to{
        background-color: blue;
    }
}

@keyframes prueba2{
    0%{
        background-color: red;
        height: 150px;
        width: 150px;
    }
    25%{
        background-color: blue;
        height: 100px;
        width: 100px;
    }
    50%{
        background-color: yellow;
        height: 250px;
        width: 250px;
    }
    75%{
        background-color: blue;
        height: 50px;
        width: 50px;
    }
    100%{
        background-color: red;
        height: 150px;
        width: 150px;
    }
}